@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item-config {
  width: 21rem;
  height: auto;
}
.config-main-s {
  position: fixed;
  top: 5rem;
  left: 5rem;
  height: auto;
  width: 25rem;
  padding: 2rem;
  color: aliceblue;
  user-select: none;
  font-family: "Itim", serif;
}
.config-main-s h1, .ctl-leather, .ctl-fabric {
  width: fit-content;
}
.config-main-s h1 {
  height: auto;
}
.item-config-h {
  margin-top: 1.2rem;
}

.config-texture-labels {
  display: flex;
  gap: 6rem;
  width: 20rem;
  height: fit-content;
  margin-top: 1.2rem;
}
.ctl-leather, .ctl-fabric {
  height: fit-content;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}
.ctl-fabric:hover, .ctl-leather:hover {
  opacity: 1;
  cursor: pointer;
}
.item-config-color {
  display: flex;
  width: 21rem;
  height: auto;
}
.cc-config {
  margin-bottom: 1.2rem;
}
.config-color-labels {
  display: flex;
  flex-direction: column ;
  gap: 0.8rem;
  align-items: center;
  /* width: 10rem; */
  width: 100%;
  height: auto;
}
.config-color-labels:hover{
  cursor: pointer;
}
.color-i {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}